
aside {
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 50px 0;
	  
	h3 {
	  margin: 0;
	  color: #fff;
	  text-align: left;
	}  
	
	p {
	  margin: 0;
	  color: $dark-gray;
	  text-align: left;
	  }
	  
	span {
	  color: #c7b299;
	}  
	  
    .wrapper {
	  display:flex;
	  justify-content: space-around;
	  align-items: flex-start;
	    .btn {
		  margin: 0;
		    span {
		    color: #fff;
		    }
	     }
	}
}