.presentation {
  width: 100%;
  background-image: url('../img/presentation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 210px 0;
  margin: 0;
}

.video-player {
  width: 500px;
  margin: 0 auto;
    h3 {
      font-size: 30px;
      font-weight: 500;
      margin-top: 40px;
    }

    p {
      font-family: Montserrat;
      color:  #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      margin-top: 30px;
    }

    #timer {
      font-family: Montserrat;
      color:  $gray-hover;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
      margin-top: 40px;
    }
}

.play-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: url('../img/play.svg');
  background-repeat: no-repeat;
  background-color: transparent;
    &:hover {
      background-image: url('../img/play-hover.svg');
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
}
#pres-video {
  position: absolute;
  width: 500px;
  display: none;
}
