
$dark-gray: #555555;
$gray-buttons: #998675;
$gray-hover: #c7b299;
$font-basic: #8c8c8c;
$bg-darker: #fbfaf8;

@import "about_us";
@import "aside";
@import "blog";
@import "features";
@import "footer";
@import "head";
@import "partners";
@import "portfolio";
@import "presentation";
@import "stats";

@font-face {
	font-family: 'Raleway Medium';
	src: url('../fonts/Raleway-medium.eot');
	src: local('Raleway'),
	     url('../fonts/Raleway-medium.woff') format('woff'),
	     url('../fonts/Raleway-medium.ttf') format('truetype'),
		 url('../fonts/Raleway-medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('Montserrat'),
	     url('../fonts/Montserrat-Regular.woff') format('woff'),
	     url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		 url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-light';
	src: url('../fonts/Montserrat-ExtraLight.eot');
	src: local('Montserrat-light'),
	     url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
	     url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
		 url('../fonts/Montserrat-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yexice');
  src:  url('../fonts/icomoon.eot?yexice#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yexice') format('truetype'),
    url('../fonts/icomoon.woff?yexice') format('woff'),
    url('../fonts/icomoon.svg?yexice#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Raleway Medium', arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: $font-basic;
	overflow-x: hidden;
}

h2 {
  text-align: center;
  color: #fff;
  font-family: 'Raleway Medium', arial;
  font-size: 52px;
  font-weight: 500;

}


h3 {
  text-align: center;
  color: #fff;
  font-family: 'Raleway Medium', arial;
  font-size: 36px;
  font-weight: 500;
}

p {
  text-align: center;
}

section {
  padding: 40px 0 0 0;
}

.inner-wrapper {
  width: 65%;
  margin: 0 auto;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	
	  @media (min-width: 768px) {
		width: 750px;
	  }
	  
	  @media (min-width: 992px) {
		width: 970px;
	  }
	  
	  @media (min-width: 1200px) {
		width: 1170px;
	  }
	  
	  
}
