
$dark-gray: #555555;
$gray-hover: #c7b299;
$font-basic: #8c8c8c;

@import "about_us";
@import "head";

@font-face {
	font-family: 'Railway';
	src: url('../fonts/Railway.eot');
	src: url('../fonts/Railway.woff') format('woff'),
	     url('../fonts/Railway.ttf') format('truetype'),
		 url('../fonts/Railway.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.woff') format('woff'),
	     url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		 url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: $font-basic;
}

h2 {
  text-align: center;
  font-family: Railway;
  font-size: 52px;
  font-weight: 700;

}


h3 {
  text-align: center;
  font-family: Railway;
  font-size: 36px;
  font-weight: 500;
}


section {
  padding-top: 40px;
}

